NODE_ENV=development
PORT=8600
HOST=0.0.0.0

# 判斷是否開啟 debug 模式
NEXT_PUBLIC_DEBUG=false

# api 網域
NEXT_PUBLIC_API_URL=
# # nestjs api 網域
NEXT_PUBLIC_API_NESTJS_URL=


# firebase 連接資料
# NEXT_PUBLIC_FIREBASE_API_KEY=
# NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
# NEXT_PUBLIC_FIREBASE_PROJECT_ID=
# NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
# NEXT_PUBLIC_FIREBASE_MESSAGINGSENDER_ID=
# NEXT_PUBLIC_FIREBASE_APP_ID=
# NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
# NEXT_PUBLIC_FIREBASE_DATABASEURL=
# NEXT_PUBLIC_FIREBASE_MESSAGING_KEY=

# 沒有http網址
NEXT_PUBLIC_HOST_SITE=
# http網址或https網址
NEXT_PUBLIC_HOST_URL=

# x版網域
NEXT_PUBLIC_X_SITE=
# http x版網域 或 https x版網域
NEXT_PUBLIC_X_URL=


# 忽略 https 憑證過期問題
NODE_TLS_REJECT_UNAUTHORIZED=0

# GA 代碼
NEXT_PUBLIC_GA_CODE=

# 平台服務費費用
NEXT_PANEL_FEE=0.009

#  Google Recaptcha2 key
NEXT_PUBLIC_GOOGLE_RECAPTCHA2_KEY=



# 客服聊天室 firebase id
NEXT_PUBLIC_SERVICE_CHAT_ID=u000000001
# 聊天室最大聊天訊息 顯示數量限制
NEXT_PUBLIC_CHATS_MESSAGE_LIMIT=10000
# 動態即刻快閃招募時間單位分鐘
NEXT_PUBLIC_NOW_TIME_DUE_AT_MINUTE=60